APP_NAME=melanoma-cds-service
APP_VERSION=0.1.0
MODEL_NAME=resnet50v2
MODEL_WEIGHTS_PATH=models/resnet50v2_c5_baseline_best.pt
IMAGE_SIZE=224
DEVICE=cpu
TTA_RUNS=4
SCREENING_THRESHOLD=0.09357384592294693
HIGH_SPECIFICITY_THRESHOLD=0.2621931731700897
ENABLE_AUTH=false
API_TOKEN=change-me
